/* Custom styles for jsoneditor to match the extension theme */
.jsoneditor-react-container {
    height: 100%;
}

.jsoneditor {
    border-color: #e0e0e0;
}

.jsoneditor-menu {
    background-color: #b3b3b3;
    border-bottom: 1px solid #e0e0e0;
}